{
  "singleQuote": true,
  "printWidth": 120,
  "tabWidth": 2,
  "endOfLine": "auto",
  "semi": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "experimentalTernaries": true,
  "experimentalOperatorPosition": "start",
  "overrides": [
    {
      "files": [".prettierrc"],
      "options": {
        "parser": "json"
      }
    }
  ]
}

